<%= form_for Drawing.new, remote: true do |f| %>
  <%= f.text_field :description, placeholder: "Type 's' to draw a shape, then enter text", class: 'drawing-input' %>
  <%= f.hidden_field :points %>
  <%= f.submit id: "create-drawing-button" %>
<% end %>

<div id="drawings"></div>

<%= javascript_include_tag "application" %>
<script>
  $(document).ready(function () {
    DrawingApp.initialize();
  });
</script>