<!DOCTYPE html>
<html>
<head>
  <title>JS Intro - <%= @page ? @page.title : 'Home' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="container">
    <%= link_to "Home", root_path, class: "nav" %>
  </nav>
</header>

<main>
  <div class="container">

    <% if @page %>
      <p>
        <% if @previous_page %>
          <a href="<%= @previous_page.path %>" class="previous-link">&larr; Previous</a>
        <% end %>
        <% if @next_page %>
          <a href="<%= @next_page.path %>" class="next-link">Next &rarr;</a>
        <% end %>
        <div style="clear: both;"></div>
      </p>

      <h1><%= @page.category %> - <%= @page.title %></h1>
    <% end %>

    <%= yield %>
  </div>
</main>

</body>
</html>

